# Add files here to ignore them from prettier formatting

/dist
/backend
tools/prebuilds
**/artifacts
**/coverage
node_modules
*-lock.*
cache
logs
log
skaffold*.yaml


# Auto generated
/web/app/src/util-app/blockchain/crowdtrust-abi.ts
/contracts/out
/contracts/lib
/contracts/broadcast
